<a href="https://colab.research.google.com/github/dlrstrum/labs/blob/main/lab4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Python Iterators
"""Lists, tuples, dictionaries, and sets are all iterable objects. They are iterable containers which you can get an iterator from.

All these objects have a iter() method which is used to get an iterator:"""

In [ ]:
mytuple = ("apple", "banana", "cherry")
myit = iter(mytuple)

print(next(myit))
print(next(myit))
print(next(myit))

apple
banana
cherry

In [ ]:
mystr = "banana"
myit = iter(mystr)

print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))

b
a
n
a
n
a

In [ ]:
mytuple = ("apple", "banana", "cherry")

for x in mytuple:
  print(x)

apple
banana
cherry

In [ ]:
mystr = "banana"

for x in mystr:
  print(x)

b
a
n
a
n
a

In [ ]:
class MyNumbers:
  def __iter__(self):
    self.a = 1
    return self

  def __next__(self):
    x = self.a
    self.a += 1
    return x

myclass = MyNumbers()
myiter = iter(myclass)

print(next(myiter))
print(next(myiter))
print(next(myiter))
print(next(myiter))
print(next(myiter))

1
2
3
4
5

In [ ]:
class MyNumbers:
  def __iter__(self):
    self.a = 1
    return self

  def __next__(self):
    if self.a <= 20:
      x = self.a
      self.a += 1
      return x
    else:
      raise StopIteration

myclass = MyNumbers()
myiter = iter(myclass)

for x in myiter:
  print(x)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [ ]:
#Python Scope

In [ ]:
#Local scope
def myfunc():
  x = 300
  print(x)

myfunc()

300

In [ ]:
#Function inside the function
def myfunc():
  x = 300
  def myinnerfunc():
    print(x)
  myinnerfunc()

myfunc()

300

In [ ]:
#Global scope
x = 300

def myfunc():
  print(x)

myfunc()

print(x)

300
300

In [ ]:
#Naming variables
x = 300

def myfunc():
  print(x)

myfunc()

print(x)

300
300

In [ ]:
#Global keyword
def myfunc():
  global x
  x = 300

myfunc()

print(x)

300

In [ ]:
x = 300

def myfunc():
  global x
  x = 200

myfunc()

print(x)

200

In [ ]:
#Nonlocal keyword
def myfunc1():
  x = "Jane"
  def myfunc2():
    nonlocal x
    x = "hello"
  myfunc2()
  return x

print(myfunc1())

hello

In [ ]:
x = 300
def myfunc():
  global x
  x = 200
myfunc()
print(x)

200

In [ ]:
#Modules

In [ ]:
#Create a module
def greeting(name):
  print("Hello, " + name)

In [ ]:
person1 = {
  "name": "John",
  "age": 36,
  "country": "Norway"
}

In [ ]:
import mymodule

mymodule.greeting("Jonathan")

In [ ]:
import mymodule

a = mymodule.person1["age"]
print(a)

In [ ]:
import mymodule as mx

a = mx.person1["age"]
print(a)

In [ ]:
import platform

x = platform.system()
print(x)

Linux

In [ ]:
import platform

x = dir(platform)
print(x)

['_Processor', '_WIN32_CLIENT_RELEASES', '_WIN32_SERVER_RELEASES', '__builtins__', '__cached__', '__copyright__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', '__version__', '_comparable_version', '_component_re', '_default_architecture', '_follow_symlinks', '_get_machine_win32', '_ironpython26_sys_version_parser', '_ironpython_sys_version_parser', '_java_getprop', '_libc_search', '_mac_ver_xml', '_node', '_norm_version', '_os_release_cache', '_os_release_candidates', '_os_release_line', '_os_release_unescape', '_parse_os_release', '_platform', '_platform_cache', '_pypy_sys_version_parser', '_sys_version', '_sys_version_cache', '_sys_version_parser', '_syscmd_file', '_syscmd_ver', '_uname_cache', '_unknown_as_blank', '_ver_output', '_ver_stages', 'architecture', 'collections', 'freedesktop_os_release', 'functools', 'itertools', 'java_ver', 'libc_ver', 'mac_ver', 'machine', 'node', 'os', 'platform', 'processor', 'python_branch', 'python_build', 'python_compiler', 'python_implementation', 'python_revision', 'python_version', 'python_version_tuple', 're', 'release', 'sys', 'system', 'system_alias', 'uname', 'uname_result', 'version', 'win32_edition', 'win32_is_iot', 'win32_ver']

In [ ]:
def greeting(name):
  print("Hello, " + name)

person1 = {
  "name": "John",
  "age": 36,
  "country": "Norway"
}

In [ ]:
from mymodule import person1

print (person1["age"])

In [ ]:
#Dates

In [ ]:
import datetime

x = datetime.datetime.now()
print(x)

2025-02-13 13:23:56.469917

In [ ]:
import datetime

x = datetime.datetime.now()

print(x.year)
print(x.strftime("%A"))

2025
Thursday

In [ ]:
import datetime

x = datetime.datetime(2020, 5, 17)

print(x)

2020-05-17 00:00:00

In [ ]:
import datetime

x = datetime.datetime(2018, 6, 1)

print(x.strftime("%B"))

June

In [ ]:
#Math

In [ ]:
x = min(5, 10, 25)
y = max(5, 10, 25)

print(x)
print(y)

5
25

In [ ]:
x = abs(-7.25)

print(x)

7.25

In [ ]:
x = pow(4, 3)

print(x)

64

In [ ]:
import math

In [ ]:
x = math.sqrt(64)

print(x)

8.0

In [ ]:
x = math.ceil(1.4)
y = math.floor(1.4)

print(x) # returns 2
print(y) # returns 1

2
1

In [ ]:
x = math.pi

print(x)

3.141592653589793

In [ ]:
#JSON is a syntax for storing and exchanging data.

#JSON is text, written with JavaScript object notation.

In [ ]:
import json

In [ ]:
#Parse JSON - Convert from JSON to Python

#The result will be a Python dictionary.

In [ ]:
# some JSON:
x =  '{ "name":"John", "age":30, "city":"New York"}'

# parse x:
y = json.loads(x)

# the result is a Python dictionary:
print(y["age"])

30

In [ ]:
#Convert from Python to JSON
# a Python object (dict):
x = {
  "name": "John",
  "age": 30,
  "city": "New York"
}

# convert into JSON:
y = json.dumps(x)

# the result is a JSON string:
print(y)

{"name": "John", "age": 30, "city": "New York"}

In [ ]:
'''You can convert Python objects of the following types, into JSON strings:

dict
list
tuple
string
int
float
True
False
None'''

'You can convert Python objects of the following types, into JSON strings:\n\ndict\nlist\ntuple\nstring\nint\nfloat\nTrue\nFalse\nNone'

In [ ]:
print(json.dumps({"name": "John", "age": 30}))
print(json.dumps(["apple", "bananas"]))
print(json.dumps(("apple", "bananas")))
print(json.dumps("hello"))
print(json.dumps(42))
print(json.dumps(31.76))
print(json.dumps(True))
print(json.dumps(False))
print(json.dumps(None))

{"name": "John", "age": 30}
["apple", "bananas"]
["apple", "bananas"]
"hello"
42
31.76
true
false
null

In [ ]:
x = {
  "name": "John",
  "age": 30,
  "married": True,
  "divorced": False,
  "children": ("Ann","Billy"),
  "pets": None,
  "cars": [
    {"model": "BMW 230", "mpg": 27.5},
    {"model": "Ford Edge", "mpg": 24.1}
  ]
}

print(json.dumps(x))

{"name": "John", "age": 30, "married": true, "divorced": false, "children": ["Ann", "Billy"], "pets": null, "cars": [{"model": "BMW 230", "mpg": 27.5}, {"model": "Ford Edge", "mpg": 24.1}]}

In [ ]:
x = {
    "name": "John"
}

In [ ]:
json.dumps(x, indent=4)

'{\n    "name": "John"\n}'

In [ ]:
json.dumps(x, indent=4, separators=(". ", " = "))

'{\n    "name" = "John"\n}'

In [ ]:
json.dumps(x, indent=4, sort_keys=True)

'{\n    "name": "John"\n}'

In [ ]:
# Dates

In [ ]:
import datetime

# 1. Subtract five days from current date
current_date = datetime.date.today()
five_days_ago = current_date - datetime.timedelta(days=5)
print(f"Five days ago: {five_days_ago}")

Five days ago: 2025-02-08

In [ ]:
# 2. Print yesterday, today, tomorrow
today = datetime.date.today()
yesterday = today - datetime.timedelta(days=1)
tomorrow = today + datetime.timedelta(days=1)

print(f"Yesterday: {yesterday}")
print(f"Today: {today}")
print(f"Tomorrow: {tomorrow}")

Yesterday: 2025-02-12
Today: 2025-02-13
Tomorrow: 2025-02-14

In [2]:
# 3. Drop microseconds from datetime

import datetime
def drop_microseconds(dt):
    return dt.replace(microsecond=0)

now = datetime.datetime.now()
now_no_micro = drop_microseconds(now)
print(f"Datetime without microseconds: {now_no_micro}")

Datetime without microseconds: 2025-02-16 10:39:19

In [3]:
# 4. Two date difference in seconds
from datetime import datetime

def date_difference_in_seconds(date1: str, date2: str, date_format: str = "%Y-%m-%d %H:%M:%S") -> int:
    dt1 = datetime.strptime(date1, date_format)
    dt2 = datetime.strptime(date2, date_format)
    return int(abs((dt2 - dt1).total_seconds()))

date1 = "2024-02-13 12:00:00"
date2 = "2024-02-14 12:30:00"
seconds_difference = date_difference_in_seconds(date1, date2)
print(f"Difference in seconds: {seconds_difference}")

Difference in seconds: 88200

In [ ]:
# Generators

In [4]:
# 1. Generator for squares up to N
def squares_up_to_n(n):
    for i in range(n + 1):
        yield i * i
n = int(input("Enter a number n: "))
squares_gen = squares_up_to_n(n)
for square in squares_gen:
    print(square)

Enter a number n: 8
0
1
4
9
16
25
36
49
64

In [5]:
# 2. Printing even numbers using a generator
def even_numbers_up_to_n(n):
    for i in range(0, n + 1, 2):  # Iterate directly through even numbers
        yield i

n = int(input("Enter a number n: "))
even_nums = even_numbers_up_to_n(n)
print(", ".join(map(str, even_nums)))  # Efficiently convert to strings and join

Enter a number n: 22
0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22

In [6]:
# 3. Numbers divisible by 3 and 4
def divisible_by_3_and_4(n):
    for i in range(n + 1):
        if i % 3 == 0 and i % 4 == 0:
            yield i
n = int(input("Enter the number: "))
divisible_nums = divisible_by_3_and_4(n)
for num in divisible_nums:
    print(num)

Enter the number: 100
0
12
24
36
48
60
72
84
96

In [7]:
# 4. Squares generator from a to b
def squares(a, b):
    for i in range(a, b + 1):
        yield i * i

# Testing the squares generator
a = int(input("Enter the starting number a: "))
b = int(input("Enter the ending number b: "))

for square in squares(a, b):
    print(square)

Enter the starting number a: 2
Enter the ending number b: 10
4
9
16
25
36
49
64
81
100

In [8]:
# 5. Generator for numbers from n down to 0
def countdown(n):
    while n >= 0:
        yield n
        n -= 1

# Example countdown
n_start = int(input("Enter a starting number for countdown: "))
for num in countdown(n_start):
    print(num)

Enter a starting number for countdown: 8
8
7
6
5
4
3
2
1
0

In [ ]:
# Math

In [ ]:
# 1. Converting degree to radian

import math
def degree_to_radian(n):
  return (n * (math.pi / 180))
n = int(input("Enter the degree: "))
print (f"{degree_to_radian(n):.6f}")

Enter the degree: 15
0.261799

In [ ]:
# 2. Calculating the area of a trapezoid

def area(a, b1, b2):
  return (a * ((b1 + b2) / 2))
a = int(input("Height: "))
b1 = int(input("Base, first value: "))
b2 = int(input("Base, second value: "))
print ("Expected Output: ", area(a, b1, b2))

Height: 5
Base, first value: 5
Base, second value: 6
Expected Output:  27.5

In [ ]:
# 3. Area of regular polygon

def area_of_polygon(n, l):
  r = l / (2 * math.tan(math.pi / n))
  P = (l * n) / 2
  A = int((P * r))
  return A
n = int(input("Enter the number of sides: "))
l = int(input("Enter the length of a side: "))
print ("The area of the polygon is: ", area_of_polygon(n, l))

Enter the number of sides: 4
Enter the length of a side: 25
The area of the polygon is:  625

In [ ]:
# 4. Area of Parallelogram

def area_of_parallelogram(l, h):
  return l * h
l = float(input("Length of base: "))
h = float(input("Height of parallelogram: "))
print ("Expected Output: ", area_of_parallelogram(l, h))

Length of base: 5
Height of parallelogram: 6
Expected Output:  30.0